<section class="todoapp">
    <header class="header">
        <h1>todos</h1>
        <form id="new-form">
            <input type="text" class="new-todo" placeholder="What needs to be done?"/>
        </form>
    </header>

    <section class="main">
        <ul class="todo-list">

        </ul>
    </section>
</section>

<section class="author">
    An application built by <%= link_to "Samy Ayoub", "http://samyayoub.com", :target => "_blank" %>; inspired by <%= link_to "Ken Mazaika", "http://github.com/kenmazaika", :target => "_blank" %>
</section>
